/* Reset some default browser styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Global styles */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  color: #666;
}

a.goback-link {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

a.goback-link:hover {
  color: #0056b3;
}

/* Button styles */
.action-button {
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #0056b3;
}

.start-button {
  background-color: #4caf50;
}

.stop-button {
  background-color: #ff5722;
}
